.nav {
  position: fixed;  /* hace que se quede en la parte superior */
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.8rem var(--space-md);
  z-index: 1000; /* para que esté por encima del contenido */
  background-color: var(--color-bg); /* si tu nav es transparente, ponle un color de fondo */
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-family: "field-gothic-xxcondensed", Arial, sans-serif;
  font-weight: 400; 
  font-size: 2.2rem; 
  color: var(--color-text);
}

.nav-logo:hover {
  color: var(--color-accent); /* tu rosa definido en tokens.css */
}

.nav-links {

  font-family: "field-gothic-xxcondensed", Arial, sans-serif;
  font-weight: 400; 
  font-size: 2.2rem; 
  display: flex;
  gap: var(--space-md);
}

.nav-links a {
  color: var(--color-text);
  font-size: 2rem
}

.nav-links a:hover {
  color: var(--color-accent);
}

@media (max-width: 640px) {
  .nav-links {
    display: none;
  }
}